{% extends 'web_app/base.html' %}
{% load static %}
{% block content %}

<div class="container-md">
	<br><br><br>
	<img class="img=fluid " src="{{klub_profile.logo_klub.url}}" style="width: 250px; height: 250px; border-radius: 60px; padding: 10px;"><br>
	<h3 class="">&nbsp;&nbsp;<b>{{klub_profile.klub}}</b></h3><br>

		
	<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Informace </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="dancer-tab" data-bs-toggle="tab" data-bs-target="#dancer-tab-pane" type="button" role="tab" aria-controls="dancer-tab-pane" aria-selected="false">Tanečníci</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="dancergroup-tab" data-bs-toggle="tab" data-bs-target="#dancergroup-tab-pane" type="button" role="tab" aria-controls="dancergroup-tab-pane" aria-selected="false">Taneční jednotky</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="zavody-tab" data-bs-toggle="tab" data-bs-target="#zavody-tab-pane" type="button" role="tab" aria-controls="zavody-tab-pane" aria-selected="false">Závody</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="faktury-tab" data-bs-toggle="tab" data-bs-target="#faktury-tab-pane" type="button" role="tab" aria-controls="faktury-tab-pane" aria-selected="false">Faktury</button>
  </li>
</ul>




<!-- here is a  info nav -->



<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
  	<div class="container" style=" min-height: 100vh;">
	<br/>
	
		
	    <div class="row g-0">
				
		    <div class="col-md-8">
				<div class="card-body">
					<h3 class=""><b>{{klub_profile.klub}}</b></h3><br>
					<td><p class="card-title"><b>Adresa: </b>{{klub_profile.adresa}}</b></p><td><br>
					
					<td><p class="card-text"><b>Email: </b> {{klub_profile.email}} </p><td>
			        <td><p class="card-text"><b>Telefon: </b> {{klub_profile.telefon}} </p><td>
			        <td><p class="card-text"><b>Informace: </b><br><br>{{klub_profile.info}} </p><td>
				
				
			    </div>
		    </div>
	    </div>
    </div>

  </div>





<!-- here is a tanecnici nav -->



  <div class="tab-pane fade" id="dancer-tab-pane" role="tabpanel" aria-labelledby="dancer-tab" tabindex="0">
<div class="container-md" style=" min-height: 100vh; min-width: 65vw;">

  <br>
       <a  href="{% url 'pridat_tanecnika' %}" class="btn btn-secondary ">⊕</a>
  <br>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Klub</th>
        <th>Fotografie</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Dat.narození</th>
        <th>Rodné č.</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Zdravotní-prohlídka</th>
        <th>Prohlidka potvrzení</th>
        <th>Kopie pasu</th>
        <th>Doping</th>
        <th>CSAR</th>
        <th>Zavody CSAR</th>
        <th>WRRC</th>
        <th>Profil</th>

        
      </tr>
    </thead>
    
      {% for tanecnik in tanecnici %}
      <tbody>  
      <tr>
        <td>{{tanecnik.klub}}</td>
        <td><img src="{{tanecnik.foto_tanecnik.url}}" class="card-img-top" alt="profile photo" style="width: 35px; height: 35px; border-radius: 15px; padding: 2px;"></td>
        <td>{{tanecnik.jmeno}}</td>
        <td>{{tanecnik.prijmeni}}</td>
        <td>{{tanecnik.datum_narozeni|date:"Y-m-d"}}</td>
        <td>{{tanecnik.rodne_cislo}}</td>
        <td>{{tanecnik.email}} </td>
        <td>{{tanecnik.telefon}}</td>
        <td>{{tanecnik.zdravotni_prohlidka}}</td>

        {% if tanecnik.zdravotni_prohlidka_potvr %}
        <td><a href="{{tanecnik.zdravotni_prohlidka_potvr.url}}" class="btn btn-secondary" download>ZDP</a></td>
        {% else %}
        <td><h6 class="noreg"><b>x</b></h6></td>
        {% endif %}

        {% if tanecnik.pas %}
        <td><a href="{{tanecnik.pas.url}}" type="button" class="btn btn-secondary" download>PAS</a></td>
         {% else %}
        <td><h6 class="noreg"><b>x</b></h6></td>
        {% endif %}


        {% if tanecnik.doping %}
        <td><a href="{{tanecnik.doping.url}}" type="button" class="btn btn-secondary" download>DOP</a></td>
         {% else %}
        <td><h6 class="noreg"><b>x</b></h6></td>
        {% endif %}



        {% if tanecnik.Dny_do_nove_registrace_csar == "Registrace ČSAR vypršela." %}
        <td><p class="card-text noreg"><b>N</b></p><td>
        {% else %}
        <td><p class="card-textv reg"><b>R</b></p><td>
        {% endif %}

        {% if tanecnik.Dny_do_nove_zav_registrace_csar == "Zavodní registrace ČSAR vypršela." %}
        <td><p class="card-text noreg"><b>N</b></p><td>
        {% else %}
        <td><p class="card-text reg"><b>R</b></p><td>
        {% endif %}

        {% if tanecnik.Dny_do_nove_registrace_wrrc == "Registrace WRRC vypršela." %}
        <td><p class="card-text noreg"><b>N</b></p><td>
        {% else %}
        <td><p class="card-text reg"><b>R</b></p><td>
        {% endif %}

        <td><a href="{% url 'tanecnik' tanecnik.id %}" class="btn btn-secondary">Profil</a></td>
        
      </tr>
    </tbody>
    {% endfor %}
  </table>

</div>
</div>
</div>




<!-- here is a tanecni jednotka nav -->


  <div class="tab-pane fade" id="dancergroup-tab-pane" role="tabpanel" aria-labelledby="dancergroup-tab" tabindex="0">
  	<div class="container" style=" min-height: 100vh; min-width: 65vw;">

  <br>
       <a  href="{% url 'pridat_tj' %}" class="btn btn-secondary ">⊕</a>
  <br>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tanecni Jednotka</th>
        <th>Kategorie</th>
        <th>Tanečník1</th>
        <th>Tanečník2</th>
        <th>Tanečník3</th>
        <th>Tanečník4</th>
        <th>Tanečník5</th>
        <th>Tanečník6</th>
        <th>Tanečník7</th>
        <th>Tanečník8</th>
        <th>Tanečník9</th>
        <th>Tanečník10</th>
        <th>Tanečník11</th>
        <th>Tanečník12</th>
        <th>Tanečník13</th>
        <th>Tanečník14</th>
        <th>Tanečník15</th>
        <th>Tanečník16</th>
      </tr>

    </thead>

    	{% for tanecni_jednotka in tanecni_jednotky %}
      <tbody>  
      <tr>    
        <td>{{tanecni_jednotka.jmeno_tanecni_jednotky}}</td>
        <td>{{tanecni_jednotka.kategorie}}</td>
        
        {% if tanecni_jednotka.jmeno_tanecnik1 == None %}
		<td><p class='noreg'>x</p></td>
		{% else %}

        <td><p>{{tanecni_jednotka.jmeno_tanecnik1}}</p></td>
        {% endif %}

        {% if tanecni_jednotka.jmeno_tanecnik2 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik2}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik3 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik3}}</td>
		{% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik4 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik4}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik5 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik5}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik6 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik6}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik7 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik7}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik8 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik8}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik9 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik9}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik10 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik10}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik11 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik11}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik12 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik12}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik13 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik13}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik14 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik14}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik15 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik15}}</td>
        {% endif %}
        
        {% if tanecni_jednotka.jmeno_tanecnik16 == None%}
		<td><p class='noreg'>x</p></td>
		{% else %}
        <td>{{tanecni_jednotka.jmeno_tanecnik16}}</td>
		{% endif %}
          
      </tr>
    </tbody>
    {% endfor %}
  </table>

</div>

</div>





  <div class="tab-pane fade" id="zavody-tab-pane" role="tabpanel" aria-labelledby="zavody-tab" tabindex="0">zavody</div>
  <div class="tab-pane fade" id="faktury-tab-pane" role="tabpanel" aria-labelledby="faktury-tab" tabindex="0">faktury</div>
</div>





</div>





{% endblock %}

