{% extends 'web_app/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container ">
	<br>
	<center> 
		
		<br><br>
		{% if submitted %}
		<h1 class="reg">Taneční jednotka byla přidána úspěšně.</h1>
	    {% else %}
	    <h2> Přidat taneční jednotku </h2>
	    <br><br>
	    <div class="container shadow" style="width: 50%; padding: 20px 20px 20px 20px;">
	    	<br>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.media}}
			{{form.as_p }}
			<input type="submit" value="Přidat" name="" class="btn btn-primary">

		</form>
		</div>
		{% endif %}
		<br>	
	</center>	
</div>


{% endblock %}