{% extends 'web_app/base.html' %}
{% load static %}
{% block content %}



<br>
<div class="container mb shadow" style="min-width: 90vw;">

	<h1>{{ zavod.jmeno_souteze }}</h3>
	<h4>Datum soutěže: {{ zavod.datum_souteze|date:"Y-m-d" }}</h4>
	<h4>Konec přihlášek: {{ zavod.prihlasky_do|date:"Y-m-d" }}</h4>
	


            
  <table class="table table-striped">
    <thead>
      <tr>
		<th>Děti </th>
		<th>Žáci </th>
		<th>Junior </th>
		<th>C </th>
		<th>B </th>
		<th>A</th>
		<th>MDFD </th>
		<th>MDFJ </th>
		<th>MDFS </th>
		<th>DFD </th>
		<th>DFJ </th>
		<th>DFS </th>
		<th>PFJ </th>
		<th>PFS </th>
		<th>DG </th>
		<th>DL </th>
		
		<th>Přihlásit </th>
	  </tr>
    </thead>
    <tbody>  
      <tr>
		{% if zavod.kategorie_deti == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}

		{% if zavod.kategorie_zaci == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}

		{% if zavod.kategorie_junior == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_c == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_b == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_a == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_mdfd == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_mdfj == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_mdfs == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_dfd == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_djf == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_dfs == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_fj == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_fs == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_dg == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}
		{% if zavod.kategorie_dl == True %}
		<td><p class="reg"> ✓ </p></td>
		{% else %}
		<td><p class="noreg"> x </p></td>
		{% endif %}

		<td><a type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Timto tlačítkem se přihlásíte k závodu.">PŘIHLÁSIT</a></td>
	</tr>
    </tbody>
</table>
<br>
<h3>Příhlášení soutěžící</h3>
 <table class="table table-striped">
    <thead>
      <tr>
		<th>Jméno taneční jednotky </th>
		<th>Klub </th>
		<th>Kategorie </th>
		<th>Platba </th>
		<th>Hudba </th>
		<th>Status</th>
		<th>Upravit přihlášku </th>
		<th>Smazat přihlášku</th>
		
	  </tr>
    </thead>
    <tbody>  
    {% for prihlaska in prihlasky %}
      <tr>
	<td><p>{{ prihlaska.tanecni_jednotka_jmeno }}</p></td>
	<td><p>{{ prihlaska.klub }}</p></td>}
	<td><p>{{ prihlaska.kategorie }}</p></td>
	{% if prihlaska.platba == True %}
	<td><p class="reg">zaplaceno</p></td>
	{% else %}
	<td><p class="noreg">neplaceno</p></td>
	{% endif %}
	<td><p>{{ prihlaska.hudba }}</p></td>
	<td><p> status </p></td>
	<td><a type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Timto tlačítkem upravíte přihlášku.">Upravit</a></td>
	<td><a type="button" class="btn btn-secondary"data-bs-toggle="tooltip" title="Timto tlačítkem nevratně smažete přihlášku.">Smazat</a></td>

	{% endfor %}
	</tr>
	</tbody>

</table>
</div>

{% endblock %}
