{% extends 'web_app/base.html' %}
{% load static %}
{% block content %}

<div class="container" style=" min-height: 100vh;">
	<br/><br/><br/>
	<h2>Taneční jednotky - přehled</h2>	 
	<br>
  	<p>Toto je přehled tanečních jednotek.</p>

     

	<div style="display: flex; flex-direction: row; flex-wrap: wrap">
		
		{% for tanecni_jednotka in tanecni_jednotky %}
		
		
		<div class="card shadow" style="width: 18rem; margin: 10px">
		  <div class="card-body">
		  	<h5 class="card-card-text"><b>{{tanecni_jednotka.klub}}</b></h5> 
		    <h6 class="card-card-text">Taneční Jednotka: <b> {{tanecni_jednotka.jmeno_tanecni_jednotky}}</b></h6>
		     <h6 class="card-card-text">Kategorie: {{tanecni_jednotka.kategorie}}</h6>
		     {% if tanecni_jednotka.jmeno_tanecnik1 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik1}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik2 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik2}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik3 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik3}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik4 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik4}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik5 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik5}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik6 == None %}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik6}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik7 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik7}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik8 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik8}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik9 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik9}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik10 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik10}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik11 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik11}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik12 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik12}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik13 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik13}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik14 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik14}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik15 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik15}}</p>
		    {% endif %}
		    {% if tanecni_jednotka.jmeno_tanecnik16 == None%}
		     <p></p>
		     {% else %}
		    <p class="card-text">{{tanecni_jednotka.jmeno_tanecnik16}}</p>
		    {% endif %}
		  	
		    <a href="{% url 'upravit_tj' tanecni_jednotka.id %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Timto tlačítkem můžete upravit informace o taneční jednotce." href='' style="margin:15px;">Upravit TJ</a>

		    <a href="{% url 'smazat_tj' tanecni_jednotka.id %}" class="btn btn-primary"data-bs-toggle="tooltip" title="Timto tlačítkem nenávratně smažete taneční jednotku." href='' style="margin:15px;">Smazat TJ</a>
		 
		  </div>
		</div>

	    {% endfor %}
	</div>
</div>

	
		
{% endblock %}



	
