{% extends 'web_app/base.html' %}
{% load static %}
{% block content %}
	
		{% for tanecnik in tanecnici_klub %}
		<img class="profile_foto" src="{{tanecnik.foto_tanecnik.url}}">

		<h4 class="title">{{tanecnik.jmeno}} {{tanecnik.prijmeni}} - {{tanecnik.id}}</h4>
		
		<h4 class="title">{{tanecnik.klub}}</h4>

		<h4 class="title"> datum narozeni: </h4>
		<h4 class="title">rodne cislo: {{tanecnik.rodne_cislo}} </h4>
		<h4 class="title">email: {{tanecnik.email}} </h4>
		<h4 class="title">telefon: {{tanecnik.telefon}} </h4>
		<h4 class="title">zdravotni prohlidka do: {{tanecnik.zdravotni_prohlidka}}</h4>
	
			{% if tanecnik.Dny_do_nove_registrace_csar == "Registrace ČSAR vypršela." %}
			<h4 class="noreg">{{tanecnik.Dny_do_nove_registrace_csar }} </h4>
			{% else %}
			<h4 class="reg">{{tanecnik.Dny_do_nove_registrace_csar }} </h4>
			{% endif %}

			{% if tanecnik.Dny_do_nove_zav_registrace_csar == "Zavodní registrace ČSAR vypršela." %}
			<h4 class="noreg">{{tanecnik.Dny_do_nove_zav_registrace_csar }} </h4>
			{% else %}
			<h4 class="reg">{{tanecnik.Dny_do_nove_zav_registrace_csar }} </h4>
			{% endif %}

			{% if tanecnik.Dny_do_nove_registrace_wrrc == "Registrace WRRC vypršela." %}
			<h4 class="noreg">{{tanecnik.Dny_do_nove_registrace_wrrc }} </h4>
			{% else %}
			<h4 class="reg">{{tanecnik.Dny_do_nove_registrace_wrrc }} </h4>
			{% endif %}

	

		{% endfor %}
{% endblock %}



	
