{% extends 'web_app/base.html' %}
{% load static %}
{% block content %}

<div class="container" style=" min-height: 100vh;">
	<br/><br/><br/>
	<div style="display: flex; flex-direction: row; flex-wrap: wrap">
		
		{% for tanecnik in tanecnici_klub %}
		
		
		<div class="card shadow" style="width: 18rem; margin: 10px">
		  <img src="{{tanecnik.foto_tanecnik.url}}" class="card-img-top" alt="profile photo" style="width: 150px; height: 150px; border-radius: 20px; padding: 10px;">
		  <div class="card-body">
		    <h5 class="card-card-text"><b>{{tanecnik.jmeno}} {{tanecnik.prijmeni}}</b></h5>
		    <p class="card-text">{{tanecnik.klub}}</p>

			<p class="card-text"> datum narozeni: {{tanecnik.datum_narozeni}}</p>
			<p class="card-text">rodne cislo: {{tanecnik.rodne_cislo}} </p>
			<p class="card-text">email: {{tanecnik.email}} </p>
			<p class="card-text">telefon: {{tanecnik.telefon}} </p>
			<p class="card-text">zdravotni prohlidka do: {{tanecnik.zdravotni_prohlidka}}</p>
		
				{% if tanecnik.Dny_do_nove_registrace_csar == "Registrace ČSAR vypršela." %}
				<p class="card-text noreg">{{tanecnik.Dny_do_nove_registrace_csar }} </p>
				{% else %}
				<p class="card-textv reg">{{tanecnik.Dny_do_nove_registrace_csar }} </p>
				{% endif %}

				{% if tanecnik.Dny_do_nove_zav_registrace_csar == "Zavodní registrace ČSAR vypršela." %}
				<p class="card-text noreg">{{tanecnik.Dny_do_nove_zav_registrace_csar }} </p>
				{% else %}
				<p class="card-text reg">{{tanecnik.Dny_do_nove_zav_registrace_csar }} </p>
				{% endif %}

				{% if tanecnik.Dny_do_nove_registrace_wrrc == "Registrace WRRC vypršela." %}
				<p class="card-text noreg">{{tanecnik.Dny_do_nove_registrace_wrrc }} </p>
				{% else %}
				<p class="card-text reg">{{tanecnik.Dny_do_nove_registrace_wrrc }} </p>
				{% endif %}
			    
		    <a href="{% url 'tanecnik' tanecnik.id %}" class="btn btn-primary">Ukázat kartu</a>
		  </div>
		</div>
		{% endfor %}
	</div>
</div>

	
		
{% endblock %}



	
